# HW6 BS803 - Python
#### Mitchell Henschel

### 1. Generate a list of...
#### a. Numbers 1 thru 20

In [1]:
a = list(range(1,21))
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

#### b. Numbers 20 thru

In [2]:
b = list(range(1,21))
b.reverse()
b

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

#### c. Numbers 1 thru 20 then back down to 1

In [3]:
c = list(range(1,20))
c.extend(a)
c

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20]

#### d. [4,6,3,...,4,6,3] where there are 10 occurances of 4

In [4]:
10 * [4,6,3]

[4,
 6,
 3,
 4,
 6,
 3,
 4,
 6,
 3,
 4,
 6,
 3,
 4,
 6,
 3,
 4,
 6,
 3,
 4,
 6,
 3,
 4,
 6,
 3,
 4,
 6,
 3,
 4,
 6,
 3]

#### e. [4,6,3,...,4,6,3,4] where there are 11 ocurences of 4, and 10 occurences of 6 and 10

In [5]:
e = list(11 * [4,6,3])
del e[len(e) - 2:]
e

[4,
 6,
 3,
 4,
 6,
 3,
 4,
 6,
 3,
 4,
 6,
 3,
 4,
 6,
 3,
 4,
 6,
 3,
 4,
 6,
 3,
 4,
 6,
 3,
 4,
 6,
 3,
 4,
 6,
 3,
 4]

### 2. Create a list of values of e<sup>x</sup> cos(x) for x=[3, 3.1, 3.2, ... , 6]

In [6]:
import math

two = []
x = 3
while (x <= 6):
    two.append(math.exp(x)*math.cos(x))
    x = x + .1
    
two

[-19.884530844146987,
 -22.178753389342127,
 -24.490696732801293,
 -26.77318244299339,
 -28.96923776809358,
 -31.011186439374526,
 -32.81977476033852,
 -34.30336011037369,
 -35.35719361853037,
 -35.862833712307676,
 -35.68773248011913,
 -34.68504225166806,
 -32.693695428321746,
 -29.538816297262983,
 -25.032529229040012,
 -18.97523315495902,
 -11.157417389647557,
 -1.3620985182059429,
 10.632038010191764,
 25.04670499827259,
 42.099201062537894,
 61.99663027669396,
 84.92906736250181,
 111.06158604202481,
 140.52507505278612,
 173.4057764085758,
 209.73349424783297,
 249.4684405588545,
 292.4867067371199,
 338.5643778585087,
 387.3603402909277]

### 3. Create a list of value [2, 2<sup>2</sup>/2, 2<sup>3</sup>/3, ... , 2<sup>25</sup>/25]

In [7]:
three = []
for i in range(1,26):
    three.append(2**i / i)
    
three

[2.0,
 2.0,
 2.6666666666666665,
 4.0,
 6.4,
 10.666666666666666,
 18.285714285714285,
 32.0,
 56.888888888888886,
 102.4,
 186.1818181818182,
 341.3333333333333,
 630.1538461538462,
 1170.2857142857142,
 2184.5333333333333,
 4096.0,
 7710.117647058823,
 14563.555555555555,
 27594.105263157893,
 52428.8,
 99864.38095238095,
 190650.18181818182,
 364722.0869565217,
 699050.6666666666,
 1342177.28]

### 4. Using the list from 1a create...
#### a. [a0 -an, a1 - an - 1, ... , an - a0]

In [8]:
four = []
for i in range(len(a)):
    four.append(a[i] - a[len(a) - i - 1])
    
four

[-19,
 -17,
 -15,
 -13,
 -11,
 -9,
 -7,
 -5,
 -3,
 -1,
 1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19]

#### b. a boolean list where even values are True and odd Values are false:

In [9]:
five = []
for i in range(len(a)):
    five.append(a[i] % 2 == 0)
    
five

[False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True]

### 5. Write a script that will open the file **lorem.txt**. The script should read the file and compute the following:
#### a. The number of strings whose lengths are between 1 and 4, 4 and 7 and 8 or greater

In [10]:
with open("/home/elkip/Datasets/lorem.txt") as f:
    lines = f.read()

words = list(map(len, lines.split()))

print(f"Number of strings length between 1 to 4 characters is {sum(map(lambda x : x <= 4, words))}")
print(f"Number of strings length between 4 to 7 characters is {sum(map(lambda x : x >= 4 and x <= 7, words))}")
print(f"Number of strings length greater than 8 characters is {sum(map(lambda x : x >= 8, words))}")

Number of strings length between 1 to 4 characters is 337
Number of strings length between 4 to 7 characters is 541
Number of strings length greater than 8 characters is 239

#### b. The number of capitalized characters in the file

In [11]:
print(f"The number of capitalized characters: {sum(1 for c in lines if c.isupper())}")

The number of capitalized characters: 129